@mixin hideScroll($el){
  /* Hide scrollbar for Chrome, Safari and Opera */
  #{$el}::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  #{$el} {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
$black:#364f6b;
$red:#fc5185;
$confirm:#379956;
$white:#eeeeee;
$gold:#ffc85b;
.month{
  color:#e2eafc;
}
.month3{
  color:#d7e3fc;
}
.month6{
  color:#ccdbfd;
}
.year{
  color:#c1d3fe;
}
.year3{
  color:#b6ccfe;
}
.year5{
  color:#abc4ff;
}
article{
  width: 90%;
  min-width: 300px;
  max-width: 375px;
  height: 90vh;
  @include hideScroll('&');
  overflow-y: auto;
}
body{
  background-color: $black;
  color: $white;
}
.modal-content{
  color:$black;
  background-color: $white;
  .modal-header .btn-close {
    margin-right: auto;
    margin-left: 0;
  }
  .btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(54, 79, 107, 0.25);
  }
  .form-control:focus {
    color: $black;
    caret-color: $black;
    background-color: #fff;
    border-color: $gold;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 200, 91, 0.25);
  }
  .dropdown-menu{
    background-color: $black;
    .dropdown-item{
      transition: .2s ease-out;
      &:hover{
        color: $black;
        background-color: $gold;
      }
    }
  }
  .btn-period{
    color: $gold;
    border-color: $gold;
    &:hover,&:focus{
      color: $black;
      background-color: $gold;
    }
    &:focus{
      box-shadow: 0 0 0 0.25rem rgba(255, 200, 91, 0.5);
    }
  }
  .modal-footer{
    .btn-save{
      color: $confirm;
      border-color: $confirm;
      &:hover,&:focus{
        color: $white;
        background-color: $confirm;
      }
      &:focus{
        box-shadow: 0 0 0 0.25rem rgba(55, 153, 86, 0.5);
      }
    }
    .btn-rescind{
      color: $black;
      border-color: $black;
      &:hover,&:focus{
        color: $white;
        background-color: $black;
      }
      &:focus{
        box-shadow: 0 0 0 0.25rem rgba(54, 79, 107, 0.5);
      }
    }
  }
}
.done{
  color: rgba(238, 238, 238, 0.5);
  text-decoration: line-through;
}
.bi-plus-square-dotted{
  color: $confirm;
}
.bi-check2-square{
  color: $confirm;
}
.bi-trash{
  color:$red;
}
.accordion-item{
  background-color: unset;
}
.accordion-button{
  display: flex;
  &:focus {
    border-color: $gold;
    outline: 0;
    box-shadow: unset;
  }
  &::after{
    margin-right: auto;
    margin-left: 0;background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eee'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");}
}
.accordion-button:not(.collapsed) {
  color: $gold;
  background-color: unset;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  &::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffc85b'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
}
.accordion-body{
  background-color: rgba(238, 238, 238, 0.05);
}